#post_image
{
    max-width: 300 px;
    max-height: 300px;
    width: 200px;
    height: 200 px;
    text-align: center;
    margin-left: 35%;
}
.add_post_container
{
    background-color: azure;
    align-items: center;    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
Button
{
    margin-top: 10px;
    width: 100%;
}