.serachBarContainer
{
    width: 50%;
    align-items: center;
    margin: auto;

}
.mainContainer
{
    margin: 5px;
}
#productRow
{
    padding: 10px;
}
.final_main
{
    margin-top: 70px;
}
.addShopForm
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    background-color: azure;
    padding: 5px;
}
.profileView
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: azure;
    padding: 10px;
}
.main_load
{
    margin-left: 50%;
}
.alert
{
    
    color: red;
    
}
.normal
{
    color: red;
    float: right;
}
.order_view
{
    background-color: azure;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    border-radius: 10px;
    border: solid;
    
}
.inner
{
    margin: 20px;
    padding: 10px;
}
.order_holder
{
    margin: 10px;
    padding: 10px;
}