.sign_in_container
{
    background-color: azure;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding: 10px;
}
.textPart
{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-style: italic;
}
.forup
{
    padding: 5px;
}